html {
    background-color: pink;
    padding: 10px;
}

body {
    background-color: #72F074;
    padding: 10px;
    margin: 0;
    font-size: 30px;
}

header {
    background-color: #BEA0EB;
    margin: 10px;
}

nav {
    background-color: #BEA0EB;
    margin: 10px;
    position: fixed;
    top: 10px;
}

footer {
    background-color: #BEA0EB;
    margin: 10px;

}